.container {
    width: 1400px;
    height: 720px;
}

svg {
    border: 1px solid blue;
}

.line {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.grid {
    stroke: lightgrey;
}

#line-chart {
    float: left;
}

#bar-chart {
    float: left;
    margin-left: 20px;
}